# Ignore main bin directory
/bin

# Ignore regression test files created from tests each run 
/regression_test_files/*/SNL-NJOY-2016_Test*
/regression_test_files/*/*.log
/regression_test_files/*/*.out

# Ignore build bin directory so devs can't commit local build files
/Git-Clone/NJOY2016/bin

# Ignore user's working directory
/*-work-*

/build
