sudo: required
dist: trusty
git:
  submodules: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - george-edison55-precise-backports
    packages:
    - gcc-6
    - gfortran-6
    - cmake
    - cmake-data
language: c
compiler:
- gcc
os:
- linux
- osx
before_install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gcc; fi

script: "travis_wait 40 ./.travis/build.sh"
after_success: "./.travis/signature.sh"

env:
  matrix:
  - build_type=debug static_libraries=FALSE
  - build_type=release static_libraries=FALSE
  - build_type=debug static_libraries=TRUE
  - build_type=release static_libraries=TRUE
  global:
    secure: IUWZ5BkSTQHXEzjlRKvcLxenomV04QMh2I1Wi9ooDBl/b/EBS5WaUO99haj26F2zQhxxD12ZYY6CdCtqgV8tBdXMlTtlqA6LS5Sp6hz1Ijkr6729XzGf9TkaUKD+ef5NgrjFjhW8k8sO4Q+QijjX3ZT6CgtIcY9f5JZvTTQbFukNTRSHMCClP9PAPj7V2iZwRXpFSW/t+v/6Mj3vLofXaGeP29aHuUG4zf/rex6MXXAMOxCsLvpnaoWpeyU4u0g+KcfsQMm+cFiWrz5KawLs/eNAzYg+DvtzEnjNUJ70u+yZoDWIvFd24HCmlAClq7tAOto4Z70IVzuJKjxnAZJpzzhSP06jzIlZmXQdDHVgiMQjOw2HA1/fwNDCYSyGb3CaYWdqUZ1VbbbIDZAi7mtjqSw+iYMY5BVqc5C8CwY4bgONt3mybAU/Xm5RfPTfy/Qk6rCwojQ4JaDfTqEaTlTPvL7xZweF9reEwaunZvzf+ooHnL8f3ke1Ok5OhGUaj+ftAOdB+A6BDec2jau4YbckhKfVbRNTivZTvNcPQIl/YyqmtiIi93N+YxYOhrPliKKN9gNbLZIhZ3cClVg7BauWxM5OK94Q9tyvMcNpBx2OtrXVF5EfkesdtFb+qBIlmhUSBPmpVEZtdm8KeFvmt0VaMLFIPMu8ecA63KCGVwJc9wg=
matrix:
  include:
  - os: linux
    compiler: gcc
    env: build_type=coverage static_libraries=FALSE
