<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}
          Website for documentation and code for the development of NJOY, a nuclear data 
          processing code from Los Alamos National Laboratory. All source code as part 
          of the NJOY project—including this website—is covered by the BSD, 3-clause 
          license, as detailed in the 
          <a href="https://njoy.github.io/LICENSE.html">license</a> file.
        </p>
      </div>
    </div>

  </div>

</footer>
